{% extends "index.html" %}
{% block content %}
<div class="row justify-content-center">
    <h4>Build Page</h4>
    <!-- <div id="loading">
        <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="" class="center">
        <p class="text-center">Building...<br>This may take a while.</p>
    </div> -->
</div>
<div class="row">
    <div class="col-md-4 mr-auto ml-auto">
        <!-- 
            params:
            - learning rate
            - batch size
            - num epochs
            - activation function
            - optimizer
            - conv depth
         -->

        <form action="/send-params" method="POST" id="send-params">
            <div class="form-group">
                <label for="">Learning rate</label>
                <select name="lr" id="" class="form-control">
                    <option value="0.0001">0.0001</option>
                    <option value="0.001">0.001</option>
                    <option value="0.01">0.01</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Batch size</label>
                <select name="batch_size" id="" class="form-control">
                    <option value="32">32</option>
                    <option value="64">64</option>
                    <option value="128">128</option>
                    <option value="256">256</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Number of epochs</label>
                <select name="epochs" id="" class="form-control">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="80">80</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Activation function</label>
                <select name="activation_function" id="" class="form-control">
                    <option value="relu">ReLU</option>
                    <option value="tanh">Tanh</option>
                    <option value="sigmoid">Sigmoid</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Optimizer</label>
                <select name="optimizer" id="" class="form-control">
                    <option value="adam">Adam</option>
                    <option value="rmsprop">RMSprop</option>
                    <option value="sgd">SGD</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Convolution Depth</label>
                <select name="conv_depth" id="" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Model name</label>
                <input type="text" name="model_name" id="" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-primary" id="btn-submit-params">BUILD</button>
        </form>
    </div>
</div>
{% endblock %}