{% extends "index.html" %}
{% block content %}
<a href="/" class="btn btn-outline-secondary">Back</a>
<br>
<br>
<div class="alert alert-secondary" role="alert">
    {% if flag %}
        Prediction result
    {% else %}
        No prediction result
    {% endif %}
</div>
<div class="row justify-content-center">
    <div class="col-md-12">
        {% if flag %}
            <img src="/get-image/2/{{ filename }}" alt="" width="100%" height="auto">
        {% endif %}
    </div>
</div>
{% endblock %}