#loading {
    visibility: hidden;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    top: 10rem;
    position: fixed;
    display: block;
    float: right;
    z-index: 3;
    box-shadow: 5px 30px 50px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.1);
}

body {
    background-color: #FAFAFA;
}

.container {
    background-color: white;
}

.jumbotron {
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-radius: 0 !important;
    background-color: white !important;
    box-shadow: 0 3px 0 rgba(0,0,0,.1), 0 3px 0 rgba(0,0,0,.1);
}

.btn-index {
    margin: .3em;
    padding: .5em 1em .5em 1em;
    min-width: 7rem !important;
    text-transform: uppercase;
}

.btn-home, .btn-home:hover {
    color: black;
    text-decoration: none;
}