<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/_head.html' %}
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <center>
                <a href="/" class="btn-home"><h1 class="display-4">Identifikasi Fase Tumbuh Padi</h1></a>
                <p class="lead">Menggunakan Convolutional Neural Networks<br>
                    Penelitian Terapan Unggulan Perguruan Tinggi<br>
                    Dr. Retno Kusumaningrum, S.Si., M.Kom., dkk</p>
            </center>
        </div>

        {% block content %}{% endblock %}
        <br>
    </div>
</body>


{% include 'includes/_scripts.html' %}

</html>